ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

li {
    display: flex;
    align-items: center;
}

li strong {
    font-weight: bold;
    color: #35573d; 
}

li::before {
    content: '•'; 
    color: #35573d;
    font-size: 20px;
    margin-right: 10px;
}